* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}

nav {
    background-color: #0e8ed9;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly; 

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}   

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    background-color: #d9e2e9;
}


.home-card {
    background-color: #ebf0f3;
    width: clamp(16rem, 90vw, 80rem);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    gap: 1rem;
}

.seperator{
    height: 3px;
    background-color: #fab1ba;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.view-collection-button {
    height: 3rem;
    width: clamp(5rem, 60%, 20rem);
    background-color: black;
    color: #fab1ba;
    font-weight: 900;
    border: none;
}

.product-img {
    display: flex;
    max-width: 80%;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

.horizontal-product-img {
    display: flex;
    max-width: 35%;
    padding: 1rem;
    align-self: center;
    justify-self: center;
}

.footer-div {
    background-color: #0e8ed9;
}

.endfooter-style {
    background-color: rgb(33, 33, 33);

    height: 50px;
}