.product-img {
    max-width: 300px;
    margin: 3rem;
}

@media (max-width: 800px) {
    .product {
        flex-direction: column;
    }

    .product-info {
        max-width: 80%;
    }

    .product-img {
        max-width: 200px;
    }
}
