@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


#root, body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color: #d9e2e9;
}

h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem)
}

h2 {
    font-size: clamp(1.75rem, 3vw + 1rem, 3rem)
}

h3 {
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2.25rem)
}

h4 {
    font-size: clamp(1.25rem, 2vw + 0.25rem, 1.75rem);
}

p {
    font-size: clamp(1rem, 1.25vw + 0.25rem, 1.25rem);
}

.flex {
    display: flex;
}

.flex-cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap1 {
    gap: 1rem;
}

.margin1 {
    margin: 1rem;
}

.white-text {
    color: white;
}

.pointer {
    cursor: pointer;
}